- render_region :foot do |foot|
  - foot.buttons do
    %ul.buttons
      %li= link_to image('plus') + " " + t("add_customer"), new_admin_shop_customer_path
      -# FIXME: The the refresh action is not yet implemented, please uncomment
      -# this link once it is functioning.
      -#
      -# %li= link_to t("refresh_customers"), refresh_admin_shop_customers_path
  - foot.pagination do
    = pagination_for(@shop_customers)
